<%= form_with(model: source) do |form| %>
  <% if source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
        <% source.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :x %>
    <%= form.text_field :x %>
  </div>

  <div class="field">
    <%= form.label :y %>
    <%= form.text_field :y %>
  </div>

  <div class="field">
    <%= form.label :z %>
    <%= form.text_field :z %>
  </div>

  <div class="field">
    <%= form.label :numRays %>
    <%= form.number_field :numRays %>
  </div>

  <div class="field">
    <%= form.label :rotAz %>
    <%= form.text_field :rotAz %>
  </div>

  <div class="field">
    <%= form.label :rotEl %>
    <%= form.text_field :rotEl %>
  </div>

  <div class="field">
    <%= form.label :spl1m %>
    <%= form.number_field :spl1m %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :directionality %>
    <%= form.text_field :directionality %>
  </div>

  <div class="field">
    <%= form.label :potency %>
    <%= form.number_field :potency %>
  </div>
  
  <div class="field">
    <%= form.label :directionality %>
    <%= form.text_field :directionality %>
  </div>

  <div class="field">
    <%= form.label :freq63hz %>
    <%= form.text_field :freq63hz %>
  </div>

  <div class="field">
    <%= form.label :freq125hz %>
    <%= form.text_field :freq125hz %>
  </div>

  <div class="field">
    <%= form.label :freq250hz %>
    <%= form.text_field :freq250hz %>
  </div>

  <div class="field">
    <%= form.label :freq500hz %>
    <%= form.text_field :freq500hz %>
  </div>

  <div class="field">
    <%= form.label :freq1khz %>
    <%= form.text_field :freq1khz %>
  </div>

  <div class="field">
    <%= form.label :freq2khz %>
    <%= form.text_field :freq2khz %>
  </div>

  <div class="field">
    <%= form.label :freq4khz %>
    <%= form.text_field :freq4khz %>
  </div>

  <div class="field">
    <%= form.label :freq8khz %>
    <%= form.text_field :freq8khz %>
  </div>

  <div class="field">
    <%= form.label :freq16khz %>
    <%= form.text_field :freq16khz   %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
