<p id="notice"><%= notice %></p>

<p>
  <strong>X:</strong>
  <%= @source.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @source.y %>
</p>

<p>
  <strong>Z:</strong>
  <%= @source.z %>
</p>

<p>
  <strong>Numrays:</strong>
  <%= @source.numRays %>
</p>

<p>
  <strong>Rotaz:</strong>
  <%= @source.rotAz %>
</p>

<p>
  <strong>Rotel:</strong>
  <%= @source.rotEl %>
</p>

<p>
  <strong>Spl1m:</strong>
  <%= @source.spl1m %>
</p>

<p>
  <strong>Name:</strong>
  <%= @source.name %>
</p>

<p>
  <strong>Direcionality:</strong>
  <%= @source.directionality %>
</p>

<p>
  <strong>Potency:</strong>
  <%= @source.potency %>
</p>

<p>
  <strong>freq63hz:</strong>
  <%= @source.freq63hz %>
</p>

<p>
  <strong>Freq125hz:</strong>
  <%= @source.freq125hz %>
</p>

<p>
  <strong>Freq250hz:</strong>
  <%= @source.freq250hz %>
</p>

<p>
  <strong>Freq500hz:</strong>
  <%= @source.freq500hz %>
</p>

<p>
  <strong>Freq1k:</strong>
  <%= @source.freq1khz %>
</p>

<p>
  <strong>Freq2k:</strong>
  <%= @source.freq2khz %>
</p>

<p>
  <strong>Freq4k:</strong>
  <%= @source.freq4khz %>
</p>

<p>
  <strong>Freq8k:</strong>
  <%= @source.freq8khz %>
</p>

<p>
  <strong>Freq16k:</strong>
  <%= @source.freq16khz %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
