<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>



<table>
  <thead>
    <tr>
      <h1>Projects</h1>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <td colspan="3">
        <%= link_to 'New Project', new_project_path %>
      </td>
    </tr>
  </tfoot>


  <tbody>
    <% @projects.each do |project| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="project_details">
          <h3>
            Project: <%=project.id%>
          </h3>
          <h3>
              <ul>
                <li>AutoCad File: <% if project.autocad_file.attached? %>
                                    <%= link_to project.autocad_file.filename, project.autocad_file %>
                                  <% else %>
                                    <%= 'There is not such file' %>
                                  <% end %>
                </li>
            </ul>
          </h3>
        </td>

        <td class="actions">
          <ul>
            <li><%= link_to 'Show', project %></li>
            <li><%= link_to 'Edit', edit_project_path(project) %></li>
            <li><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            <li><%= link_to "Generate txt file", :action => txtFileMaker(project) %></li>
            <li><%= link_to "Download txt file", :action => :download, :file_id => project.id  %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
