<p id="notice"><%= notice %></p>

<p>
  <h2>
    Environment Setup
  </h2>
</p>

<p>
  <strong>Temperature (C):</strong>
  <%= @project.temperature %>
</p>

<p>
  <strong>Pressure (atm):</strong>
  <%= @project.pressure %>
</p>

<p>
  <strong>Humidity (%):</strong>
  <%= @project.humidity %>
</p>

<p>
  <h2>
    Raytracing Stop Criteria
  </h2>
</p>

<p>
  <strong>Samplerate (Hz):</strong>
  <%= @project.sampleRate %>
</p>

<p>
  <strong>IR Duration (s):</strong>
  <%= @project.irDuration %>
</p>

<p>
  <strong>Max. Reflections:</strong>
  <%= @project.maxReflections %>
</p>

<p>
  <strong>Energy Decay (dB):</strong>
  <%= @project.energyDecay %>
</p>

<p>
  <strong>Number of Rays:</strong>
  <%= @project.numRays %>
</p>

<p>
  <strong>Cluster Order:</strong>
  <%= @project.clusterOrder %>
</p>

<p>
  <h2>
    General Options
  </h2>
</p>

<p>
  <strong>Diffuse Processing (slow):</strong>
  <%= @project.diffuseProcessing %>
</p>

<p>
  <strong>Save Late Rays:</strong>
  <%= @project.saveLateRays %>
</p>

<p>
  <strong>Artificial Tail:</strong>
  <%= @project.artificialTail %>
</p>

<p>
  <strong>Save Diffuse Rays:</strong>
  <%= @project.saveDiffuseRays %>
</p>

<p>
  <strong>Auralization:</strong>
  <%= @project.auralization %>
</p>

<p>
  <strong>AutoCad File Name:</strong>
  <% if @project.autocad_file.attached? %>
    <%= link_to @project.autocad_file.filename, @project.autocad_file %>
  <% else %>
    <%= 'There is not such file' %>
  <% end %>
</p>

<p>
  <strong>DXF_Layers:</strong>
  <% if @project.dxf_layers.empty? %>
    <strong> Processando arquivo DXF </strong>
  <% else %>
    <fieldset>
      <legend>Layers:</legend>
        <%= @project.dxf_layers.keys %>
      <legend>This current project sources are:</legend>
        <% @project.sources.each do |source| %>
          <%= link_to source.name, sources_path() %>
        <% end %>
      <legend>This current project receivers are:</legend>
        <% @project.receivers.each do |receiver| %>
          <%= link_to receiver.name, receivers_path() %>
        <% end %>
      <legend>This current project plans are:</legend>
        <% @project.plans.each do |plan| %>
          <%= link_to plan.name, plans_path() %>
        <% end %>        
        <br>
        <br>
      <%= form_with model: @project do |f|%>
        <legend>Select the proper sources for this project:</legend>
          <%= f.select :positionee_source_names, options_for_select(@project.dxf_layers.keys, @project.positionee_source_names),{}, {:multiple => true, :size => 4} %>
          <br>
          <br>
        <legend>Select the proper receivers for this project:</legend>
          <%= f.select :positionee_receiver_names, options_for_select(@project.dxf_layers.keys, @project.positionee_receiver_names),{}, {:multiple => true, :size => 4} %>
          <br>
          <br>
        <legend>Select the proper plans for this project:</legend>
          <%= f.select :positionee_plan_names, options_for_select(@project.dxf_layers.keys, @project.positionee_plan_names),{}, {:multiple => true, :size => 4} %>
          <br>
          <br>
      <%= f.submit "Add Layers"%>  
      <% end %>
    </fieldset>  
  <% end %>
</p>
<br><br>

<p>
  <strong>Results:</strong>
  <% if @project.results_file.attached? %>
    <%= link_to @project.results_file.filename, @project.results_file %>
    <% if @project.results.empty? %>
      <strong> Processando arquivo de resultados </strong>
    <% else %>
      <fieldset>
        <% @project.results.keys.each do |result_file|%>
          <%= link_to result_file, report_path(Report.find_by(filename:result_file, project_id: @project.id)) %>
        <% end %>
      </fieldset>
    <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Back', projects_path %>
