<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @material.name %>
</p>

<p>
  <strong>Freq62hz:</strong>
  <%= @material.freq62hz %>
</p>

<p>
  <strong>Freq125hz:</strong>
  <%= @material.freq125hz %>
</p>

<p>
  <strong>Freq250hz:</strong>
  <%= @material.freq250hz %>
</p>

<p>
  <strong>Freq500hz:</strong>
  <%= @material.freq500hz %>
</p>

<p>
  <strong>Freq1k:</strong>
  <%= @material.freq1k %>
</p>

<p>
  <strong>Freq2k:</strong>
  <%= @material.freq2k %>
</p>

<p>
  <strong>Freq4k:</strong>
  <%= @material.freq4k %>
</p>

<p>
  <strong>Freq8k:</strong>
  <%= @material.freq8k %>
</p>

<p>
  <strong>Freq16k:</strong>
  <%= @material.freq16k %>
</p>

<p>
  <strong>Scattering coefficient:</strong>
  <%= @material.scattering_coefficient %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
