<%= form_with(model: plan) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vertices %>
    <%= form.number_field :vertices %>
  </div>

  <div class="field">
    <%= form.label :xyz %>
    <%= form.text_field :xyz %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :material %>
    <%= form.select :material, options_from_collection_for_select(@materials, 'name', 'name') %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.color_field :color%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
