<p id="notice"><%= notice %></p>

<p>
  <strong>Vertices:</strong>
  <%= @plan.vertices %>
</p>

<p>
  <strong>Xyz:</strong>
  <%= @plan.xyz %>
</p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Material:</strong>
  <%= @plan.material %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
